<section data-ng-controller="CustomersController as customersCtrl">
  <div class="page-header">
    <h1>Customers</h1>
  </div>

    <div class="col-xs-12 col-sm-8">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search..">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div>

    <div class="col-xs-12 col-sm-4 text-center">
        <button type="button" class="btn btn-lg btn-success text-center">
            <i class="glyphicon glyphicon-user"></i>
            New Customer
        </button>
    </div>

    <div class="list-group">
        <div class="col-xs-6 col-sm-4" data-ng-repeat="customer in customersCtrl.customers | filter:searchText">
            <a  ng-click="customersCtrl.modalUpdate('lg', customer)" class="list-group-item">
                    <i class="glyphicon glyphicon-user"></i>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h4>{{customer.firstName}}</h4>
                        <small class="list-group-item-text text-muted">
                            <span data-ng-bind="customer.created | date:'mediumDate'"></span>
                        </small>
                    </div>
                </div>
            </a>
        </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="customers.$resolved && !customers.length">
    No customers yet, why don't you <a data-ui-sref="customers.create">create one</a>?
  </div>
</section>
